.signup-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    width: 200px;
}

.signup-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
    /* border: 2px solid black; */
    width: 400px;
}

.signup-header{
    font-size: 40px;
    margin-bottom: 20px;
}

.signup-button{
    background-color: orangered;
    margin-top: 20px;
    color: black;
    width: 400px;
    height: 70px;
    font-weight: bold;
    font-size: 20px;
}

.signup-button:active{
    background-color: black;
    color: white;
}

.home-sign{
    background-color: white;
    font: black;
    border: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.home-sign:active{
    background-color: black;
    color: white;
    transform: scale(.9);
}
