.header-controls-main-container{
    border: 1px blue solid;
    height: 40%;
    width: 35%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}

.header-controls-title-bundle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-controls-pause-play-focus{
    position:initial;
    height: 100px;
    width:100px;
    z-index: 5;
    cursor: pointer;
    /* border:1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-controls-control-focus{
    background-color: #1a035aa3;
    height:75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.card-controls-control-focus:hover{
    background-color: #b60d837f;
}
