.add-album-button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 75px;
    height: 75px;
    font-size: 75px;
}

.add-album-button:active{
    color:white;
    background-color: black;
    transform: scale(.90);
}

.add-album-container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    /* padding: 40px; */
    /* border: 2px solid black; */
    border-collapse: collapse;
    width: 350px;

}

.add-album-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;

}

.album-form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 20px;
    color: white;
    background-color: orangered;
    font-size: 40px;
    /* height: 75px; */
    /* box-sizing: border-box; */
    width: 100%;
    height: 100%;



}

.album-submit-button:active{
    background-color: white;
    color: orange;
}
