.track-main-container{
    /* border:solid 1px red; */
    height: 250;
    /* width: 300px; */
    width: 95%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.track-main-container:hover{
    box-shadow: 2px 2px 7px #2f079f;
}

.track-album-img{
    height: 100px;
    width: 100px;
    object-fit: fill;
}


.track-button-title-container{
    display: flex;
    /* border:solid 1px blue; */
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40%;
    /* position: relative; */
    /* bottom:40px; */
}

.track-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    /* border: 1px solid green; */

}

.track-artist{
    color: gray;
    font-size: .85vw;
    display: flex;
    /* border: solid 1px; */
    justify-content: space-between;
    width: 100%;
}

.track-title{
    font-size:1.5vw;
}

.track-button{
    font-size: 30px;
    display: flex;
    align-items: center;
    /* background-color: #1a035a; */
    border-radius: 100%;
    width: 75px;
    /* height: 75px; */
    /* padding: 20px; */
    justify-content: center;
    border: none;
    /* position: relative;
    bottom: 125px; */
    cursor: pointer;
}

.track-pause-button{
    position: relative;
    left:1px;
    top:3px;
    color:#5023cd;
}

.track-play-button{
    position: relative;
    left:3px;
    top:3px;
    /* height:75px; */

}

.edit-delete-container{
    display: flex;
    /* border: solid 1px pink; */
    width:30%;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.track-ud{
    /* background-color: #1a035a; */
    height:48px;
    width: 75px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    color: #6641cd;
}

.track-ud:hover{
    color: #947add;
}

.track-comp-add-to-playlist{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    color: #6641cd;
}

.track-comp-add-to-playlist:hover{
    color: white;
}
