.user-page-main-container{
    /* border: solid 1px green; */
    width: 70%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.user-page-nav-bar-container{
    /* border: solid 1px blue; */
    width:100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    /* background-color: #330aa4; */
}

.user-page-content-container{
    /* border: solid 1px red; */
    display: flex;
    width:86%;
    height: 65%;
    overflow: hidden;
    z-index: 1;
}

.user-page-content{
    /* border: 1px solid pink; */
    width: 85%;
    height: 100%;
    z-index: 1;
    /* margin-right:5px; */

}

.user-page-stats-container{
    /* border: 1px solid brown; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-left:15px;
}

.user-page-nav-link{
    width: 50px;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 10px;

}

.user-page-nav-active{
    background-color: #330aa4;
    color: white;
    font-weight: bold;
}
