.edit-album-play-container{
    width: 500px;
    height: 500px;
    background-color: #1a1822;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.edit-playlist-container{
    width: 500px;
    height: 325px;
    background-color: #1a1822;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.edit-album-play-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.edit-album-play-header{
    /* border: solid 1px red; */
    font-size: 30px;
    margin-top:20px;
    margin-bottom:5px;
}

.edit-album-play-img{
    width: 175px;
    height:175px;
    border-radius: 20px;
}

.edit-album-play-loading{
    width: 175px;
    height:175px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-album-play-img-placeholder{
    width:175px;
    height:175px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:gray;
    font-size: 100px;
}

.edit-album-play-img-button{
    /* border:solid 1px red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-album-play-img-buttons-container{
    position:absolute;
    top:18%;
    /* border: solid 1px blue; */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-album-io{
    display: flex;
    align-items: center;
    flex-direction: center;
    font-size:15px;
}

.edit-album-play-input-bundle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:20px;
}

.edit-album-play-input-container{
    /* border:solid 1px blue; */
    width: 75%;
    margin-top: 10px;
}

.edit-album-play-input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    outline: none;
    border:none;
    background-color: #2f2b3b;
    color: white;
    text-align: center;
    font-size: 20px;

}

.edit-album-play-label{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.edit-album-play-button-background{
    width:100%;
    display: flex;
    justify-content: center;
    /* border:solid 1px; */
    align-items: center;
    margin-top:15px;
    height:20%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:20px;
    background-color: #100f0f;
}

.edit-album-play-buttons{
    width: 90%;

    /* border: solid 1px green; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* margin-top:15px; */
}

.edit-album-play-button-bundle{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.edit-album-play-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border:solid 1px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    border:none;

}

.edit-album-save{
    background-color: #1a035a;
}

.edit-album-save:hover{
    background-color: #36168e;
}

.edit-album-save:active{
    transform: scale(0.98);
}

.edit-album-cancel{
    background-color: black;
}

.edit-album-cancel:hover{
    background-color: rgb(47, 47, 47);
}

.edit-album-cancel:active{
    transform: scale(0.98);
}

.edit-album-play-delete{
    background-color: rgb(251, 44, 44);
    padding-left: 2px;
    padding-right: 2px;
}

.edit-album-play-delete:hover{
    background-color: rgb(245, 78, 78);
}

.edit-album-play-delete:active{
    transform: scale(0.98);
}
