
.song-list-main-container{
    display: flex;
    /* border: solid 1px green; */
    width:96%;
    /* height: 400px; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.song-list-play-list-container{
    /* border:solid 1px white; */
    width:100%;
}

.song-list-control-title-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: solid 1px white; */
}


.song-list-control-container{
    /* border: solid 1px pink; */
    height: 100px;
    width: 100px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.song-list-title-artist-container{
    width: 100%;
    /* height:100px; */
    /* border: solid 1px red; */
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-overflow: ellipsis;
}

.song-list-song-element-container{
    /* border:solid 1px blue; */
    /* position: relative; */
    /* top:75px; */
    margin-top: 50px;
}

.song-list-artist{
    color: grey;
    /* border: solid 1px green; */
    font-size: 20px;

}

.song-list-title{
    font-size: 30px;
}

.song-list-img{
    height: 160px;
    width: 160px;
}

.song-list-pause{
    color:#5023cd;
}

.song-list-add-song-container{
    /* border: solid 1px; */
    display: flex;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top:5px;
    cursor: pointer;
    /* opacity: 0; */
}

.song-list-add-song-container-placeholder{
    /* border: solid 1px; */
    display: flex;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top:5px;
    /* cursor: pointer; */
    opacity: 0;
}

.song-list-add-song-container:hover{
    background-color: #2d2a38;
}

.song-list-add-icon{
    /* border:solid 1px; */
    display: flex;
    margin-right: 5px;
    color: #5023cd;
}

.song-list-edit-placeholder{
    opacity: 0;
     font-size: 40px;
}

.song-list-edit{
   font-size: 40px;
   cursor: pointer;
   color: #6641cd;
}

.song-list-edit:hover{
    color: #9380c9;
}
