.music-controls-main-container{
    display: flex;
    width: 70%;
    height: 100%;
    /* border: solid 1px red; */
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 60px;
}



.music-controls-pause{
    cursor: pointer;
}

.music-controls-play{
    cursor: pointer;
}
