.explore-user-container{
    height: 100%;
    /* width: 30%; */
    /* border: solid 1px skyblue; */
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
