.delete-song-button{
    font-size: 40px;
    margin-right: 10px;
    color: grey;
}

.delete-song-button:active{
    color: black;
    transform: scale(.90);
}

.delete-window-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 500px;
    height: 200px;
    /* border: 1px solid black; */
    background-color: #1a1822;
    border-radius: 20px;
}

.delete-prompt{
    margin-top: 40px;
    font-size: 25px;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;


}

.button{
    margin-bottom: 50px;
    width: 100px;
    height: 50px;

}

.yes{
    background-color: rgb(251, 44, 44);
    color:white;
    border-radius: 10px;
    border:none;
}

.yes:hover{
    background-color: rgb(252, 85, 85);
}

.yes:active{
    /* background-color: blue; */
    transform: scale(.98);
}

.no{
    background-color: black;
    border-radius: 10px;
    border:none;
    color: white;
}

.no:hover{
    background-color: rgb(28, 28, 28);
}

.no:active{
    /* background-color: white; */
    /* color: black; */
    transform: scale(.98);
}
