.create-album-modal-button{
    border:solid 1px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1a035a;
    border:none;
    margin-bottom: 10px;
    cursor: pointer;
}

.create-album-modal-button:hover{
    background-color: #3b189b;
}

.create-album-modal-button:active{
    transform: scale(0.98);
}


.create-album-main-container{
    height: 450px;
    width: 750px;
    border-radius: 20px;
    background-color:  	#1a1822;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.create-album-header{
    /* border:1px solid green; */
    display: flex;
    align-items: center;
    font-size: 35px;
    padding:10px;
    margin-bottom: 15px;
    height: fit-content;
}

.create-album-form-container{
    /* border:solid 1px red; */
    width:100%;
    height: 70%;
    display: flex;
}

.create-album-upload-img-container{
    /* border:solid 1px pink; */
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.create-album-img-header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom:25px;
}
.create-album-img-preview-container{
    /* border: solid 1px lightblue; */
    height:55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-album-img{
    height:90%;
    width:60%;
}

.create-album-img-delete{
    /* position: absolute; */

    background-color: rgb(241, 56, 56);
    font-size: 15px;
    z-index: 15;
    cursor: pointer;
    margin:15px;
    padding: 5px;
    border-radius: 5px;
}

.create-album-img-delete:hover{
    background-color:  rgb(252, 75, 75);
}

.create-album-img-delete:active{
    transform: scale(.98)
}
.create-album-img-place-holder{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #ab9fcc;

}

.create-album-img-upload-button{
    /* border:solid 1px lightgreen; */
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a035a;
    border-radius: 5px;
    cursor: pointer;
    margin-top:15px;
}

.create-album-img-upload-button:hover{
    background-color: #30099b
}

.create-album-img-upload-button:active{
    transform: scale(0.98);
}

.create-album-input-container{
    /* border: solid 1px blue; */
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.create-album-input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    /* border: solid 1px white; */
    width: 100%;

}
.create-album-input{
    width: 80%;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #2f2b3b;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.create-album-buttons-container{
    display: flex;
    /* border: 1px solid blue; */
    width:100%;
    justify-content: flex-end;
    height: 14%;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: 	#100f0f;
}

.create-album-buttons{
    /* border:solid 1px white; */
    height: 40px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.create-album{
    background-color: #1a035a;
    margin-right: 15px;
    border:none;
}

.create-album:hover{
    background-color: #30099b
}

.create-album:active{
    transform: scale(0.98)
}

.cancel-album{
    background-color: black;
    margin-right:10px;

}

.cancel-album:active{
    transform: scale(0.98)
}

.cancel-album:hover{
    background-color: rgb(58, 58, 58)
}


#modal-content{
    border-radius: 25px;
}
