.card-controls-pause-play{
    height: 0px;
    width: 0px;
    position: relative;
    /* right: 24px; */
    /* top: 10px; */
    bottom: 100px;
    opacity: 75%;
    z-index: 5;
    cursor: pointer;
    /* border: 1px solid red; */

}

.card-controls-control{
    background-color: #1a035a;
    height:50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}

.card-controls-control:hover{
    background-color: #b60d84;
}

.card-controls-play {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    color: white;
    font-size: 30px;
    position: relative;
    left: 4px;
    top:3px;

}

.card-controls-pause{
    color: white;
    font-size: 30px;
    position: relative;
    left: 1px;
    top:3px;
}
