.album-list-main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border:solid 1px; */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.album-list-placeholder{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:solid 1px white; */
}
