.song-list-el-main-container{
    display: flex;
    align-items: center;
    /* border: solid 1px skyblue; */
    width: 100%;
    padding-top:5px;
    padding-left: 5px;
    cursor: pointer;
    font-size:25px;
    justify-content: space-between;
    z-index: 1;
}

.song-list-el-bundle{
    display: flex;
    align-items: center;
    z-index: 1;
    /* border:1px solid; */
    width:100%;
}

.song-list-el-main-container:hover{
    background-color: #2d2a38;
}

.song-active{
    color :#a58bec;
    background-color: #2d2a38;
}

.song-list-el-num{
    padding-left: 5px;
    padding-right: 10px;
}


.song-list-el-img{
    height: 25px;
    width:25px;
}

.song-list-hover-buttons{
    display: flex;
}

.song-list-settings-button{
    margin-right: 10px;
    z-index: 20;
    /* color: red; */
    color:#6641cd;
}

.song-list-add-playlist-button{
    color: #6641cd;
}

.song-list-settings-button:hover{
    color: #9380c9;
}

.song-list-add-playlist-button:hover{
    color: #a58bec;
}
