.featured-song-containter{
    display: flex;
    padding: 6px;
    /* border: 1px solid; */
    border-bottom: solid 1px rgba(255, 255, 255, 0.382);
    justify-content: space-between;
    align-items: center;
    /* width: 140%; */
    cursor:pointer;
}

.featured-song-containter:hover{
    background: linear-gradient(to left bottom, rgba(159, 159, 159, 0.584), 	#21105498);
    /* opacity: 20%; */
}

.featured-song-song-active{
    display: flex;
    padding: 6px;
    /* border: 1px solid; */
    border-bottom: solid 1px rgba(255, 255, 255, 0.382);
    justify-content: space-between;
    align-items: center;
    /* width: 140%; */
    cursor:pointer;
    background: linear-gradient(to left bottom, rgba(125, 102, 243, 0.584), 	#21105498);
}

.featured-song-text-bundle{
    display: flex;
    /* border: solid 1px; */
    width:50%;
    justify-content: space-between;
}

.featured-song-link{
    display: flex;
    justify-content: flex-end;
}

.featured-song-link-button{
    height: 30px;
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
}

.featured-song-title{
    /* border: 1px solid; */
    width: 100%;
    margin-left: 20px;
}
