/* .create-song-album-button-container{

    display: flex;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top:5px;
    cursor: pointer;
} */

/* .create-song-album-button-container:hover{
    background-color: #2d2a38;
} */

/* .create-song-album-button-container:active{

    transform: scale(0.98);
} */

.song-list-add-icon{
    /* border:solid 1px; */
    display: flex;
    margin-right: 5px;
    color: #5023cd;
}


.create-song-album-main-container{
    height: 600px;
    width: 800px;
    background-color: #1a1822;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.create-song-album-header{
    font-size: 2.2vw;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    text-overflow: ellipsis;
    /* border:solid 1px green; */
}

.create-song-album-title{
    margin-left: 10px;
    font-size: 2.3vw;
    color: grey;
}

.create-song-album-choice-container{
    /* border: 1px solid blue; */
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:10px;
}

.create-song-album-tab{
    /* border:solid 1px; */
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    border-radius: 10px;
    cursor: pointer;
}

.create-song-album-new-song{
    background-color: #1a035a;
    border:none;
}

.create-song-album-existing-song{
    background-color: #1a035a;
    border:none;
}

.create-song-album-content-container{
    /* border: solid 1px red; */
    width: 95%;
    height: 55%;
}

.create-song-album-form-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px lightblue; */
    width: 100%;
    height: 100%;

}

.create-song-album-form-bundle{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border:1px solid pink; */
    height: 50%;
    width:90%;
    font-size: 2vw;
}


.create-song-album-input{
    background-color: #2f2b3b;
    border: none;
    outline: none;
    width: 75%;
    height: 12%;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    color: white;
    padding:10px;
    text-align: center;
    border-radius: 10px;
}

.create-song-album-buttons-container{
    /* border:solid 1px blue; */
    height: 12.5%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: 	#100f0f;
    padding-left: 5%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.create-song-album-button{
    border:1px solid;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.create-song-album-add-song{
    margin-right: 20px;
    background-color: #1a035a;
}

.create-song-album-add-song:hover{
    background-color: #39207e;
}

.create-song-album-add-song:active{
    transform:scale(0.98)
}

.create-song-album-cancel{
    margin-right: 20px;
    background-color: black;
}

.create-song-album-cancel:hover{
    background-color: rgb(25, 25, 25);
}

.create-song-album-cancel:active{
    transform:scale(0.98)
}

.create-song-upload-container{
    height: 40%;
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid; */
    margin-bottom: 10px;
}

.create-song-upload-button{
    background-color: #1a035a;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;

}

.create-song-upload-button:hover{
    background-color: #381d82;
}

.create-song-upload-button:active{
    transform: scale(0.98);
}

.create-song-upload-not-ready{
    /* background-color: #100f0f; */
    background-color: #1a035a;
    opacity: .5;
    margin-right: 20px;
    cursor:not-allowed;
}

.create-song-upload-button:hover{
    background-color: #3207a7;
}

.create-song-upload-button:active{
    transform: scale(0.98);
}

.create-song-album-sing-list{
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.create-song-album-single-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* border:solid 1px; */
    height: 150px;
    width: 150px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.create-song-album-single-img{
    height: 100px;
    width: 100px;
    margin-top: 5px;
}

.song-album-single-active{
    background-color:#1a035a
}
