/* TODO Add site wide styles */
.album-comp-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
    /* position: relative; */
    width: 70%;
    height: 40%;
    /* margin-top:100px; */
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    bottom: 50px;
    /* border:solid 1px green; */
}

.test{
    width:100%;
    height:100%;
    /* background-color: pink; */
}

.upload-song-button{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
}

.splash-caption{
    font-size: 50px;
    margin-bottom: 20px;
}

.splash-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;

    /* border: 1px solid black; */
}

.home-header{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.img-el{
    width: 60%;
    height: 100%;
    position: relative;
    bottom: 75px;
    z-index: -1;
}
.site-header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}



.site-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 99.9%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    top:0;
    left:0;
    margin: 0px;
    padding: 0px;
    /* border: solid 1px pink; */
    /* overflow: scroll; */
    /* z-index: 1; */
    /* background-color: green; */

}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: #6a6a6a4d;
  }

  ::-webkit-scrollbar-thumb {
    background: #1a035abe;
    border-radius: 20px;
  }

a{
    text-decoration: none;
    color: white;
}


.about-link{
    border: 1px solid black;
    font-size: 40px;
    background-color: orangered;
    color: white;
    padding: 5px;
    margin-left: 30px;
}

.about-link:active{
    background-color: black;
}

body{
    font-family: sans-serif;
    border:none;
    margin: 0px;
    background-color: #100f0f;
    color: white;

}

.logged-home-container{
    width: 80%;
    height: 100%;
    /* border:solid 1px; */
    display: flex;
    justify-content: center;
}

.music-player-placeholder{
    /* border: 1px solid lightgoldenrodyellow; */
    /* height: 5%; */
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: blueviolet; */
    /* opacity: 20%; */
    z-index: 15;
}

.error{
    color:red;
}

.mix-neb-button{
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mix-neb-button:active{
    transform: scale(0.98);
}
.mix-neb-confirm{
    background-color: #1a035a;
}

.mix-neb-confirm:hover{
    background-color: #3b189b;
}

.mix-neb-delete{
    background-color: rgb(241, 56, 56);
}

.mix-neb-delete:hover{
    background-color:  rgb(252, 75, 75);
}

.mix-neb-cancel{
    background-color: black;
}

.mix-neb-cancel:hover{
    background-color: rgb(25, 25, 25);
}

.mix-neb-modal{
    background-color: #1a1822;
    border-radius: 20px;
    display: flex;
}

.mix-neb-input{
    background-color: #2f2b3b;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.mix-neb-button-background{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* border:solid red 1px; */
    background-color: 	#100f0f;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.mix-neb-button-container{
    display: flex;
    justify-content: space-between;
}

.mix-neb-option-button:hover{
    color: #9380c9;
}
