/* TODO Add site wide styles */
.album-comp-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
    height: 720px;
    margin-top:50px;
}

.upload-song-button{
    position: absolute;
}

.splash-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
}

.img-el{
    width: 100%;
    height: 100%;
}
.site-header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: orangered;
}

.site-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
