.logged-nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50px;
    /* border: solid 1px green; */
}

.logged-nav-outer-container{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #1a1822;

}

.logged-nav-bar-about-bundle{
    /* border: solid 1px pink; */
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: flex;
}
.logged-nav-bar-about-links-container{
    margin-left: 10px;
}

.login-modal-container{
    margin-bottom: 15px;
}
