.splash-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    /* position: absolute; */
}

.featured-songs{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
