.album-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;


}

.album-list-style{
    list-style: none;
    margin-left: -40px;

}



.user-album-img{
    height:200px;
    width: 726px;
    z-index: -1;
    position: absolute;
}
.add-album-bundle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-header{
    margin-top:10px;
    border: 1px solid black;
    width: 726px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
