
.song-card{
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 150px;
    width: 150px;
    margin: 5px;
}

.song-card-link{
    text-decoration: none;
}

.image-container{
    width: fit-content;
    height: 75px;
    /* border: 1px solid black; */
    border-radius: 20px
}

.song-title-card{
    font-size: 15px;
    padding: 10px;
    overflow: hidden;
}

.song-img{
    height: 75px;
    width: 75px;
}
