:root{
    --white: #fff;
    --active-color: #00aeb0;
}

.music-player-main-container{
    width: 100%;
    height: 50px;
    color: var(--white);
    display: flex;
    /* border: solid 1px skyblue; */
    justify-content: space-between;
    background-color: #2f2b3b;
}

.music-player-controls-container{
    width: 20%;
    /* border:solid 1px green; */
    display: flex;
    justify-content: center;
}

.music-player-song-info-container{
    display: flex;
    align-items: center;
    /* border: solid 2px lightgreen; */
    width: 15%;
}



.music-player-text-container{
    display: flex;
    flex-direction: column;
    /* border: solid 1px blue; */
    color: white;
    font-size:13px;
    margin-left: 5px;
}

.music-player-artist-album{
    display: flex;
    /* align-items: center; */
    /* border: solid 1px green; */
}

.music-player-song-art-container{
    display: flex;
    align-items: center;
}

.music-player-art{
    height: 40px;
    width: 40px;
}

.progress{
    width: 90%;
}

.music-player-seeker-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column-reverse; */
    width: 50%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
     background: transparent;
     cursor: pointer;
     width: 90%;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    /* background:#1a035a; */
    border-radius: 10px;
    height: 1rem;
  }
  /* input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: red;
    height: 2rem;
  } */

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* margin-top: -12px; Centers thumb on the track */
    /* margin-top:-12px; */
    background-color: #ccbff1;
    columns: black;
    height: 1rem;
    border-radius: 100%;
    width: 1rem;
 }

 .volume-slide-container{
    display: flex;
    flex-direction: column;
    /* overflow: visible; */
    width: 150px;
    /* position: absolute; */
    /* left:12%; */
    align-items: center;
    /* font-size: 30px; */
    /* border: solid 1px white; */


}


.volume-slider{
    -webkit-transform:rotate(-90deg);
    position: relative;
    bottom:50px;
    width: 100px;
    /* border: 1px solid white; */


}
.volume-place-holder{
    -webkit-transform:rotate(-90deg);
    position: relative;
    bottom:65px;
    opacity: 0;
}

.volume-button{
    position: relative;
    bottom: 12px;
    font-size: 30px;
    /* border:solid 1px green */
}

.music-player-song-title{
    font-size:20px;
}

.music-player-artist{
    color: grey;
}
