.playlist-list-main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: solid 1px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist-list-list-placeholder{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:solid 1px white; */
}
