.logged-home-main-container{
    border:solid 1px green;
    width: 100%;
    height:100%;
    display: flex;
    overflow: scroll;
}

.logged-splash-songs-container{
    border: 1px solid pink;
    width: 80%;
    /* height: 50%; */
}
