.logged-home-main-container{
    /* border:solid 1px green; */
    width: 83%;
    height:88.5%;
    display: flex;
    /* overflow-y: scroll; */
}

@media screen and (max-height: 800px) {
    .logged-home-main-container {
        height:85%;
        /* border:solid 1px green; */
    }
  }

.logged-splash-featured-container{
    /* border: 1px solid pink; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50%; */
    overflow-y: scroll;
    overflow-x: hidden;

}
/* This is to select a specific container to edit its scroll bar */
div.logged-splash-featured-container::-webkit-scrollbar{
    width: 0px;
}
