.add-song-container{
    height: 350px;
    width: 600px;
    border-radius: 20px;
    background-color: #1a1822;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit-song-header{
    font-size: 40px;
    margin-top: 30px;
}

.edit-song-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: solid 1px; */
    margin-bottom: 20px;

}

.edit-song-input-bundle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    width:80%;
}

.edit-song-input{
    width: 100%;
    background-color: #2f2b3b;
    color: white;
    text-align: center;
    font-size: 20px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border:none;
}

.edit-song-buttons-background{
    width:100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100f0f;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.edit-song-buttons-container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    /* border: solid 1px green; */
    height: 100%;

}

.edit-song-button-bundle{
    display: flex;
    /* border:solid 1px blue; */
    align-items: center;
    width: 50%;
    justify-content: space-between;


}

.edit-song-button{
    /* border:1px solid white; */
    height: 40px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

.edit-song-save{
    background-color: #1a035a;
}

.edit-song-save:hover{
    background-color: #36168e;
}

.edit-song-save:active{
    transform: scale(0.98);
}

.edit-song-cancel{
    background-color: black;
}

.edit-song-cancel:hover{
    background-color: rgb(47, 47, 47);
}

.edit-song-cancel:active{
    transform: scale(.98);
}

.edit-song-delete{
    background-color: rgb(251, 44, 44);
}

.edit-song-delete:hover{
    background-color: rgb(245, 78, 78);
}

.edit-song-delete:active{
    transform: scale(0.98);
}
