.login-container{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    /* border: 2px solid black; */
    height: 400px;
    background-color: #1a1822;
    /* border:1px solid; */
    border-radius: 20px;



}

.login-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min-content;
    font-weight: bold;
    /* border:solid 1px; */
    height: 100%;
    padding: 75px;

}

.login-header{
    font-size: 40px;
    padding-top: 10px;
}

.login-email-container{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px red; */
    width:100%;
    font-size: 30px;
}

.login-password-container{
    height:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px blue; */
    width:100%;
    font-size: 30px;
}

.login-form-input{
    width: 90%;
    padding: 5px;
    height:25%;
    text-align: center;
    background-color: #2f2b3b;
    outline: none;
    border:none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: space-between;
    height:100%;
    /* border:1px solid green; */
}

.login-button{
    /* background-color: #1a035a; */
    height: 40px;
    width: 40%;
    font-size: 30px;
    border-radius: 10px;
    border:none;
    color: white;
    cursor: pointer;
}

/* .login-button:active{
    background-color: black;
    color: white;

} */

.home-log{
    background-color: 	#1a035a;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    border:none;
    cursor: pointer;
}

.home-log:active{
    background-color: black;
    color: white;
    transform: scale(.9);

}

.login-buttons-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-button-demo{
    background-color: #1a035a;
    height: 40px;
    width: 40%;
    font-size: 20px;
     color: white;
     border-radius: 10px;
     border:none;
     cursor: pointer;
}

.login-signup-prompt{
    display: flex;
    padding-bottom: 5px;
}

.login-signup-link{
    color: rgb(86, 86, 248);
    margin-left: 0px;
    padding-bottom: 5px;
    cursor: pointer;
}

.login-signup-link:hover{
    text-decoration: underline;
}
