.login-container{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;


}

.login-input{
    display: flex;
    flex-direction: column;

    width: min-content;
    font-weight: bold;
    padding: 75px;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: cetner;
}
