.home-link{
    font-size: 50px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
