.fa-solid {
    font-size:x-large;
    color: red;

}

.fa-solid:active{
    transform: scale(.95);
    box-shadow: 3px 2px 22px 1px black;
}

.user-info-list{
    display: flex;
    /* position:absolute; */
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 0px;
    width: fit-content;



}

.user-info-list-item{
    border: 1px solid black;
}
.menu-list-item{
    border: 1px solid black;
    padding: 3px;

}

.log-out-button:active{

    box-shadow: 3px 2px 22px 1px black;
}
