.fa-solid {
    font-size:50px;
    color:white;
    margin-right: 40px;
    margin-top:10px;


}

.fa-solid:active{
    transform: scale(.95);
    color: black;
}

.user-info-list{
    display: flex;
    /* position:absolute; */
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 0px;
    width: fit-content;
    position: absolute;
    background-color:white;

}

.user-info-list-item{
    border: 1px solid black;
}
.menu-list-item{
    border: 1px solid black;
    padding: 3px;

}

.log-out-button:active{

    box-shadow: 3px 2px 22px 1px black;
}
